.title{
    font-size: 30px;
}

.nav-right h4 {
    padding-left: 10px;
}

.product{
background-color: #195e83;
}
.product img{
    width: 100px;
    height: 100px;

}
li{
    list-style-type: none;
    
}
body {
    background-color: lightblue;
  }
  h1 {
    color: #e28743;
    text-align: center;
  }





/* ----------- Non-Retina Screens ----------- */
@media (max-width: 800px) {
body{
    background-color: rgb(7, 7, 7);
}
.title{ background-color: grey;}
}






